<header
  class="home-header w-full sticky flex items-center justify-around transition-all duration-[0.5] ease-[ease] z-[1] py-1.5 mt-3 h-16 "
>
  <img ngSrc="../../../assets/logo.png" width="50" height="50" priority/>
  <ul class="list-none flex px-[15px] py-0 text-sm leading-5 box-border h-12 backdrop-blur-[15px] bg-[rgba(242,242,242,0.05)] border-2 justify-between items-center relative shadow-[0_10px_25px_rgba(0,0,0,0.15)]
  pointer-events-auto rounded-3xl border-solid border-[rgba(242,242,242,0.1)] font-subjectivity-bold">
    <li class="cursor-pointer">
      <a
        class="inline-block text-[medium] no-underline text-[color:var(--foreground)] px-2 py-0"
        >Home</a
      >
    </li>
    <li class="cursor-pointer">
      <a
        class="inline-block text-[medium] no-underline text-[color:var(--foreground)] px-2 py-0"
        >Work</a
      >
    </li>
    <li class="cursor-pointer">
      <a
        class="inline-block text-[medium] no-underline text-[color:var(--foreground)] px-2 py-0"
        >About</a
      >
    </li>
    <li class="cursor-pointer">
      <a
        class="inline-block text-[medium] no-underline text-[color:var(--foreground)] px-2 py-0"
        >Contact</a
      >
    </li>
  </ul>
  <img ngSrc="../../../assets/logo.png" width="50" height="50" priority/>
</header>
<div id="menu-backdrop"></div>
<!-- <app-hero-section /> -->

