<main class="flex flex-col justify-center items-center gap-4">
  <div class="flex justify-around">
    <div
      class="relative flex flex-col justify-center items-center w-auto font-subjectivity-bold"
    >
      <div
        class="oval absolute left-0 h-full rounded-2xl w-1/4 bg-yellow-400 -z-10"
      ></div>
      <span class="text-xs">9:30 AM - 3:30 PM</span>
      <span class="text-xs">PAQUETES SEMANALES</span>
      <span class="text-xs">DE PASEO DE PERROS</span>
      <span>Lunes a Viernes</span>
    </div>
    <h1 class="text-6xl w-1/2 text-wrap text-center">
      <!-- Cuide mejor de sus mascotas -->
      ESTE TRABAJO DEBERIA SER DEL 50% 🤑😛😈🥵
    </h1>
    <div class="flex flex-col items-center justify-center">
      <h3>Nuestros expertos</h3>
      <div class="flex -space-x-1 overflow-hidden w-auto">
        <img
          class="inline-block h-6 w-6 rounded-full ring-2 ring-white"
          src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
          alt=""
        />
        <img
          class="inline-block h-6 w-6 rounded-full ring-2 ring-white"
          src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
          alt=""
        />
        <img
          class="inline-block h-6 w-6 rounded-full ring-2 ring-white"
          src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80"
          alt=""
        />
        <img
          class="inline-block h-6 w-6 rounded-full ring-2 ring-white"
          src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
          alt=""
        />
      </div>
    </div>
  </div>
  <article class="flex justify-center w-full p-0 gap-14">
    <div
      class="rounded-r-full w-72 h-72 bg-[#02C37F] relative flex justify-center"
    >
      <img
        src="./assets/images/dog-1.png"
        alt="Dog with a green shirt"
        priority
        class="w-11/12 absolute bottom-0 left-0"
      />
    </div>
    <div
      class="rounded-full w-72 h-72 bg-[#ecbb00] relative flex justify-center"
    >
      <img
        src="./assets/images/dog-2.png"
        alt="Dog with a green shirt"
        priority
        class="w-4/5 absolute top-4"
      />
    </div>
    <div
      class="rounded-t-full w-72 h-72 bg-[#E06C2E] relative flex justify-center"
    >
      <img
        src="./assets/images/dog-3.png"
        alt="Dog with a green shirt"
        priority
        class="w-full absolute bottom-0 left-4"
      />
    </div>
  </article>
  <article class="flex flex-wrap items-center justify-around mb-5">
    <div class="p-6 w-1/3">
      <p
        class="block font-subjectivity-bold font-light leading-relaxed text-inherit antialiased text-2xl"
      >
      Estamos comprometidos a proporcionar atención con amor y profesionalismo para asegurar que su mejor amigo peludo es siempre feliz y saludable.
      </p>
    </div>
    <div
      class="flex w-96 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-lg"
    >
      <div class="p-6">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-cat bg-[#ff5729] rounded"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M20 3v10a8 8 0 1 1 -16 0v-10l3.432 3.432a7.963 7.963 0 0 1 4.568 -1.432c1.769 0 3.403 .574 4.728 1.546l3.272 -3.546z"
          />
          <path d="M2 16h5l-4 4" />
          <path d="M22 16h-5l4 4" />
          <path d="M12 16m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
          <path d="M9 11v.01" />
          <path d="M15 11v.01" />
        </svg>
        <p
          class="block font-subjectivity-bold text-base font-light leading-relaxed text-inherit antialiased"
        >
        Bienvenido a su hogar de confianza para el cuidado de los animales.
        Salud y felicidad para su compañero de vida, en cada visita.
        </p>
      </div>
    </div>
    <div
      class="flex w-96 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-lg"
    >
      <div class="p-6">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="white"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-dog-bowl bg-[#50b6ae] rounded"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M10 15l5.586 -5.585a2 2 0 1 1 3.414 -1.415a2 2 0 1 1 -1.413 3.414l-3.587 3.586"
          />
          <path
            d="M12 13l-3.586 -3.585a2 2 0 1 0 -3.414 -1.415a2 2 0 1 0 1.413 3.414l3.587 3.586"
          />
          <path
            d="M3 20h18c-.175 -1.671 -.046 -3.345 -2 -5h-14c-1.333 1 -2 2.667 -2 5z"
          />
        </svg>
        <p
          class="block font-subjectivity-bold text-base font-light leading-relaxed text-inherit antialiased"
        >
        Donde cada mascota es tratada como parte de nuestra familia. Prevención, cuidados y cariño: la receta para una vida plena de su mascota.
        </p>
      </div>
    </div>
  </article>
</main>
